@charst "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


.roboto {font-family: 'Roboto', sans-serif;}
.notosans {font-family: 'Noto Sans', sans-serif;}
.oswald {font-family: 'Oswald', sans-serif;}

.notosanskr {font-family: 'Noto Sans KR', sans-serif;}